.qr-input {
  width: 350px;
  height: 50px;
  text-align: center;
  font-size: medium;
  background-color: bisque;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  margin-right: 5px;
}

.qr-button {
  width: 150px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  background-color: aquamarine;
}

.qr-button:hover {
  background-color: aqua;
}
