.menu-list-container {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

#root {
  margin: 0px;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
  font-style: oblique;
}

.tree-view-container {
  min-height: 100vh;
  width: 250px;
  background: rgb(0, 65, 120);
  margin: 0px;
  padding: 0;
}
