.data-container{
    width: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.top-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: #0e0f0f;
    color: #fff;
    align-items: center;
    justify-content: center;
}
.iphone{
    position: fixed;
    width: 22ch;
    padding-top: 75%;
    padding-left: 20px;
}
.iphone-title:hover{
    background-color: #917777;
    cursor:pointer;
}


.iphone-title{
    background-color: #ffee00;
    color: #0e0f0f;


}
.scroll-progress-tracking-container{
    width: 100%;
    height: 15px;
    background: #ffee00;
}

.current-progress-bar{
    height: 15px;
    background: #e70404;
    width: 0%;
}

.product-container{
    margin-top: 100px;    
    justify-content: center;
    /* display: inline-block; */
    align-items: center;
    align-content: center;
    padding: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 100%; */
    /* max-width: max-content; */

}

  
.product {
    width: calc(25% - 10px); /* 25% for each column with 10px margin between */
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .product img {
    width: 200px;
    height: 200px;
    border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  }
  
  .product p {
    margin-top: 8px;
    text-align: center;
  }